<div class="animated fadeIn pb-3">
  <div class="card">
    <div class="card-header">
      <i class="icon-diamond"></i> AIDA Resources
    </div>
    <div class="card-body">
      
      <div class="form-group row">
        <!-- offset-md-1 -->
        <!-- <label class="col-md-1  col-form-label text-left" for="select1">Tenses</label> -->
        <div class="col-md-4">
          <select #selectModel name="select1" class="form-control" (change)="combosChanged($event)">
            <option value="-1">Select a tense</option>
            <option value="{{i}}" *ngFor="let model of models; let i = index">{{model.label}}</option>
          </select>
        </div>
        <!-- <label class="col-md-2 col-form-label text-right" for="select2">Resources</label> -->
        <div class="col-md-4">
          <select #selectResource name="select2" class="form-control" (change)="combosChanged($event)">
            <option value="-1">Select a resource</option>
            <option value="{{i}}" *ngFor="let resource of resources; let i = index">{{resource.label}}</option>
          </select>
        </div>
        <!-- <label class="col-md-1  col-form-label text-right" for="select1">Type</label> -->
        <div class="col-md-4">
          <select #selectType name="select3" class="form-control" (change)="combosChanged($event)">
            <option value="-1">Select a type of exercise</option>
            <option value="0" selected>Fill in the gap</option>
          </select>
        </div>
      </div>


    </div>
  </div>

  <accordion [closeOthers]="true" [isAnimated]="true">
    <!-- heading="{{element.short}}" -->
    <accordion-group *ngFor="let element of elements" panelClass="customClass">
        <div accordion-heading>
          <div class="pull-left float-left">{{element.short}}</div>
          <span class="pull-right float-right pr-2">
            <span class="font-weight-bold btn btninside btn-outline-dark" 
                  (click)="$event.stopPropagation(); moreInfo($event)">
              <i class="icon-plus h6"></i> More info</span>    
            <span class="font-weight-bold btn btninside btn-outline-success" 
                  (click)="$event.stopPropagation(); openModal(templateSaveExercise)">
              <i class="icon-folder-alt h6"></i> Save</span>
          </span>
        </div>
        <app-exercise 
          [block]="element.block" 
          [gaps]="element.gaps" 
          [text]="element.text"
          [enableSelect]="true"
          (hasReportHint)="reportHint($event)"
          (hasNewText)="openModal(templateSaveExercise)">
        </app-exercise>
    </accordion-group>
  </accordion>

</div>

<ng-template #templateReportHint>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Report placeholder and hint</h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalReportHint.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div><b>Reporting: </b>The placeholder <b>{{item.placeholder}}</b> with hint <b>{{item.hint}}</b>.</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalReportHint.hide()">Send</button>
  </div>
</ng-template>

<ng-template #templateSaveExercise>
  <div class="modal-header">
    <h3 class="modal-title pull-left">Save to ... </h3>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalSaveExercise.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let library of libraries; let i = index">
      <input type="checkbox" id="cbox{{i}}" value="{{library.evaluation}}">
      <!-- <label for="cbox{{i}}" class="library">{{library.course}} / {{library.book}} / {{library.chapter}} / {{library.evaluation}}</label> --> 
      <label for="cbox{{i}}" class="library"><span *ngFor="let key of keys.path"> {{library[key]}} / </span> {{library[keys.evaluation]}}</label>
    </div>
  </div>
  <div class="modal-footer">
    <div class="mx-auto">+ new library</div>
  </div>
</ng-template>