.hidden {
    display: none;
}

.shown {
    display: block;
}

.modal-header, .modal-footer, .modal-body {
    /* color: #fff; */
    /* background-color: #808080; */
}

label.library {
    margin-left: .15rem;
}