<!-- [innerHtml]="content" -->
<ng-template ngFor let-item [ngForOf]="content" let-i="index">
    <p *ngIf="item.isInput; then thenBlock else elseBlock"></p>
    <ng-template #thenBlock>
        <div class="gap-spot">
            <input type="text" class="verb" placeholder="{{item.placeholder}}"> <b>[{{item.hint}}]</b>
           
            <div class="btn-group" dropdown>
                <a href id="basic-link" dropdownToggle (click)="false"
                    aria-controls="basic-link-dropdown"><i class="fa fa-info-circle"></i></a>
                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                    role="menu" aria-labelledby="basic-link">
                    <li role="menuitem"><a class="dropdown-item" href="#">Hide this gap</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)="onSave()">Report this error</a></li>
                </ul>
            </div>
        </div>
    </ng-template>
    <ng-template #elseBlock>{{item.value}}</ng-template>    
</ng-template>